* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFAF3;
    background: url(../images/foot.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1080px;
    margin: auto;
}

header {
    border-bottom: 1px solid #C08D5D;
    max-width: 470px;
    padding-top: 43px;
    padding-bottom: 43px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 82px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.home {
    color: #C08D5D;
}

main {
    padding-top: 123px;
    padding-bottom: 201px;
}

span,
h1 {
    display: block;
}

span {
    font-family: 'Play', sans-serif;
    font-family: 'Yeseva One';
    color: #3F4042;
    margin-bottom: 7px;
    font-size: 50px;
}

h1 {
    font-family: 'Yeseva One';
    color: #3F4042;
    font-size: 70px;
}

span::after {
    content: '';
    display: inline-block;
    width: 45.21px;
    height: 69.04px;
    background-image: url(../images/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Yeseva One';
    color: #3F4042;
}

h1::after {
    content: '';
    display: block;
    width: 165px;
    height: 9.03px;
    background-image: url(../images/vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    font-family: 'Yeseva One';
    color: #3F4042;
    margin-top: 45px;
}

p {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 27px;
    margin-top: 25.97px;
    width: 535px;
}

.link {
    text-decoration: none;
    display: inline-block;
    background-color: #FFFAF3;
    font-family: 'Open Sans';
    font-size: 20px;
    color: #3F4042;
    border: 2px solid #C08D5D;
    margin-top: 72px;
    line-height: 66px;
    padding-left: 15px;
}

.link::after {
    content: url(../images/link.svg);
    display: inline-block;
    width: 60px;
    background-color: #C08D5D;
    margin-left: 21.5px;
    text-align: center;
}

.mouse a {
    display: block;
    padding-top: 63px;
    text-align: center;
    margin: auto;
}